#!/bin/bash
set -euo pipefail

BACKUP_DIR="{{ mysql_backup_dir }}"
TIMESTAMP=$(date +%F-%H%M%S)

sudo mkdir -p "$BACKUP_DIR"

echo "Waiting for Kubernetes to be ready"
for i in {1..10}; do
  if kubectl -n devboard-prod get deploy/mysql &>/dev/null; then
    echo "Kubernetes is ready"
    break
  fi
  if [[ $i -eq 10 ]]; then
    echo "Kubernetes did not become ready in time"
    exit 1
  fi
  echo "Kubernetes not ready yet, retrying in 10 seconds..."
  sleep 10
done

echo "Starting MySQL backup"
kubectl -n devboard-prod exec deploy/mysql -- \
  sh -c 'mysqldump -uroot -p"$MYSQL_ROOT_PASSWORD" --all-databases --single-transaction' \
  | sudo tee $BACKUP_DIR/devboard-prod-mysql-$TIMESTAMP.sql >/dev/null
echo "Completed MySQL backup"
