#!/bin/bash
set -euo pipefail

LOCK_FILE="/run/backup-kafka.lock"
BACKUP_DIR="/var/backup/devboard/kafka"
TIMESTAMP=$(date +%F-%H%M%S)
KAFKA_APP_NAME="devboard-kafka-prod-k3s"
KAFKA_STS_NAME="devboard-kafka-controller"
KAFKA_PVC_DIR="pvc-b24dd439-6aad-4d5c-99b7-a870ffd11142_devboard-prod_data-devboard-kafka-controller-0"
K3S_STORAGE_DIR="/var/lib/rancher/k3s/storage"
FULL_PVC_PATH="$K3S_STORAGE_DIR/$KAFKA_PVC_DIR"
NAMESPACE="devboard-prod"
OUTPUT_FILE="$BACKUP_DIR/kafka-prod-pvc-$TIMESTAMP.tar.gz"
TMP_FILE="$OUTPUT_FILE.tmp"

exec 9> "$LOCK_FILE"
flock -n 9 || {
  echo "Another kafka backup is already running. Exiting."
  exit 1
}

sudo mkdir -p "$BACKUP_DIR"

cleanup() {
  set +e # Allow cleanup to continue even if commands fail

  echo "Cleaning up backup process"

  echo "Scale the kafka controller to 1 replica" 
  kubectl -n $NAMESPACE scale sts $KAFKA_STS_NAME --replicas=1
  
  echo "Waiting for the Kafka controller to be ready"
  kubectl -n $NAMESPACE rollout status sts $KAFKA_STS_NAME --timeout=180s

  echo "Restoring ArgoCD auto-sync for the Kafka application"
  kubectl -n argocd patch application $KAFKA_APP_NAME --type merge  -p '{"spec":{"syncPolicy":{"automated":{"prune":true,"selfHeal":true}}}}'

  if kubectl -n argocd get app $KAFKA_APP_NAME -o json | jq '.spec.syncPolicy.automated.selfHeal == true' >/dev/null; then
    echo "ArgoCD auto-sync is enabled."
  else
    echo "ArgoCD auto-sync is not restored properly. Requires investigation."
  fi
}
trap cleanup EXIT

echo "Validate the Kafka PVC path exists: $FULL_PVC_PATH"
if [[ ! -d "$FULL_PVC_PATH" ]]; then
  echo "Kafka PVC path does not exist: $FULL_PVC_PATH"
  exit 1
fi

echo "Disable ArgoCD sync policy"
kubectl -n argocd patch application $KAFKA_APP_NAME --type merge -p '{"spec":{"syncPolicy":null}}'

if kubectl -n argocd get app $KAFKA_APP_NAME -o json | jq -e '.spec.syncPolicy == null' >/dev/null; then
  echo "Scaling the Kafka controller down"
  kubectl -n $NAMESPACE scale sts $KAFKA_STS_NAME --replicas=0
  echo "Waiting for the Kafka controller to be scaled down"
  kubectl -n $NAMESPACE wait --for=delete pod/$KAFKA_STS_NAME-0 --timeout=180s
  echo "Backup kafka data"
  sudo tar -czf "$TMP_FILE" -C $K3S_STORAGE_DIR  $KAFKA_PVC_DIR
  sudo test -s "$TMP_FILE"
  sudo mv "$TMP_FILE" "$OUTPUT_FILE"
  echo "Kafka backup completed successfully: $OUTPUT_FILE"
else
  echo "Sync policy is not null, skipping scaling down the Kafka controller. Requires investigation."
  exit 1
fi
