[defaults]
inventory = inventories/home/hosts.ini
roles_path = roles
collections_path = collections
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
stdout_callback = default
local_tmp = /tmp/ansible-local

[privilege_escalation]
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
