[Unit]
description=backup k3s state

[Timer]
OnCalendar=*-*-* 00:00:00
Persistence=true
Unit=k3s-state-backup.service


[Install]
WantedBy=timers.target