[Unit]
Description=Run Gmail auto reply every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=gmail-auto-reply.service

[Install]
WantedBy=timers.target
